body {
    background-color: aliceblue;
    font-family: "Helvetica Neue", "Arial", "sans-serif";

}
.header {
    text-align:left;
    background-color:teal;
    
    width: 100%;
     
}

.image {
   width: 50%;
   
}
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(4, 59, 160);
  color: white;
}
.footer a{  
    color: white;   
    padding: 14px 20px; 
}
.navbar {
    overflow: hidden;
    background-color: rgb(4, 59, 160);
  }

.navbar a {
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
.navbar a:hover {background-color:black;}
.navbar a:focus{
    background-color: lightgrey;
    color: black;
}

div.preferences{
 background-color:blanchedalmond;
}
